<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Store Login</title>
</head>
<body>
    <div class="form-container">
    <form method="post" class="custom-form">
        {% csrf_token %}
        <label for="username">Username :</label>
        <input type="text">
        <label for="password">Password :</label>
        <input type="password"><br>
        <button type="submit">Login</button>
    </form> 
    </div>
</body>
</html>