{% extends 'layout/main-layout.html'%}
{% block title %}Available Medicines{% endblock %}
{% block 'content' %}
    <div>
    <h1 style="display: flex;;justify-content: center;align-items: center;">Available Medicines</h1>
    {% if medicine %}
    <table border="1" style=>
    <tr>
        <th>Medicine</th>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Expiry</th>
        <th>Action</th>
    </tr>
    {% for medicines in medicine %}
    <tr>
        <td>
            {% if medicines.picture %}
                <img src="{{ medicines.picture.url }}" alt="{{ medicines.name }}" style="width: 65px;height: 65px;">
            {% else %}
                <span>No image</span>
            {% endif %}
        </td>
        <td>{{medicines.name}}</td>
        <td>{{medicines.company}}</td>
        <td>{{medicines.quantity}}</td>
        <td>{{medicines.price}}</td>
        <td>{{medicines.expiry}}</td>
        <td><a href="{% url 'update' medicines.id %}" style="text-decoration: none;color: black;">Update Details</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="{% url 'delete' medicines.id %}" style="text-decoration: none;color: black;">Delete Medicine</a></td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No Medicines have been added yet</p>
    {% endif %}
    </div>
{% endblock %}